.sign-in-button {
    background-color: rgba(255, 255, 255, 0);
    color: #007bff;
    border: 1px solid #007bff;
    padding: 0.4rem 0.8rem;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    float: right;
    margin-top: 10px;
    margin-right: 8px;
}
.sign-in-button:hover {
    background-color: #007bff;
    color: white;
}