.sign-in-button {
    background-color: rgba(255, 255, 255, 0); /* Button background color */
    color: #007bff; /* Text and icon color */
    border: 1px solid #007bff; /* Border color matching text and icon */
    padding: 0.4rem 0.8rem; /* Padding for spacing */
    border-radius: 1.5rem; /* Rounded corners */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
    float: right;
    margin-top: 10px;
    margin-right: 8px;
}
.sign-in-button:hover {
    background-color: #007bff; /* Hover background color */
    color: white; /* Hover text and icon color */
}