
  .sideVideoPic {
    width: 190px;
    height: 120px;
    border-radius: 7px;
  }

  .side-video-container {
    width: 140%;
    padding-bottom: 10px;
  }

  .sideVideoTextContainer {
      padding-left: 20px;
      width: fit-content;
  }

  .sideVideoTitle {
    text-align: left;
    font-weight: bold;
    display: flex;
  }

  .sideVideoText {
    text-align: left;
  }

  .sideVideoStats {
    text-align: left;
  }
  
.link-style {
  color: inherit;
  text-decoration: none;
}

 