.nav-link {
    display: flex; /* Use flexbox to align items */
    padding: 10px; /* Add padding around the icons */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for the background color */
    color: var(--nav-link-color); /* Default text color */
}

.nav-link:hover {
    background-color: var(--nav-link-hover-color);
    color: var(--nav-link-color);
}

.nav-link i {
    margin-right: 10px; /* Space between icon and text */
}

.offcanvas {
    background-color: var(--offcanvas-background-color);
}

.offcanvas-body{
    color: red;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: var(--button-text-color);
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;

}
.close-btn:hover {
    background-color: var(--button-hover-background-color);
}

.list-group-item {
    background-color: transparent;
}

.menu-link {
    color: var(--menu-link-text-color);
    border: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 25px;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: flex;
    text-decoration: none;
}

.menu-link:hover {
    background-color: var(--menu-link-hover-color);
}
.logo-image {
    height: 65px;
    width: auto;
}
.menu-btn {
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: var(--menu-link-text-color);
}

.menu-btn i {
    font-size: 1.5rem;
}

.menu-btn:hover {
    background-color: var(--menu-link-hover-color);
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
