.profileContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputContainer {
    margin-bottom: 1rem;
  }
  
  .inputLabel {
    margin-bottom: 0.5rem;
  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
  }
  
  .button, .deleteButton {
    padding: 0.5rem;
    margin-top: 1rem;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 1rem;
  }
  