/* Container */
.container {
    display: flex; /* Flexbox layout */
    flex-direction: row; /* Align items horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    height: 100vh; /* Full height of the viewport */
    background-color: var(--background-color);
    padding: 20px; /* Add some padding around the container */
}

/* Logo */
.logo {
    width: 400px; /* Increase the width for a bigger logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 70px; /* Space between logo and form */
    margin-top: -100px; /* Move the logo slightly to the top */
}

/* Form Wrapper to Position Form */
.formWrapper {
    width: 350px; /* Width for 9:16 ratio */
    height: auto; /* Auto height to fit content */
    padding: 30px; /* Add some padding */
    background-color: var(--background-sign-in-and-out); 
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Add a shadow */
}

/* Form */
.form {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack the flex items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: space-between; /* Space between items */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

/* Title */
.title {
    font-size: 32px; /* Larger font size */
    font-weight: bold; /* Bold text */
    margin-bottom: 20px; /* Add some margin to the bottom */
    text-align: center; /* Center the title text */
    width: 100%; /* Full width */
    color: #007bff; /* Blue color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */
}

/* Input Container */
.inputContainer {
    width: 100%;
    position: relative;
}

/* Input */
.input {
    width: 100%; /* Full width */
    padding: 15px 10px; /* Add some padding */
    margin-bottom: 15px; /* Add some margin to the bottom */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-size: 16px; /* Increase font size */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow to inputs */
    background-color: var(--inputlabel-sign-in-and-out); 
}

.input:focus {
    outline: none; /* Remove the outline */
    border-color: #007bff; /* Blue border color on focus */
    background-color: white; /* White background on focus */
}

/* Label Inside Input */
.inputLabel {
    position: absolute; /* Position absolute */
    top: -10px; /* Position above the input */
    left: 10px; /* Position to the left inside the input */
    background-color: var(--inputlabel-sign-in-and-out); 
    padding: 0 5px; /* Padding for background */
    font-size: 15px; /* Larger font size */
    color: #333; /* Darker color */
    border-radius: 5px;
}

/* Placeholder */
.input::placeholder {
    font-size: 14px; /* Set the font size for the placeholder text */
    color: var(--placeholder-sign-in-and-out)
}

.input:focus {
    outline: none; /* Remove the outline */
    background-color: var(--inputlabel-sign-in-and-out);
}

/* Button */
.button {
    width: 100%; /* Full width */
    padding: 10px; /* Add some padding */
    background-color: var(--link-color); 
    color: #fff; /* White text */
    font-weight: bold; /* Bold text */
    border: none; /* Remove the border */
    border-radius: 15px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor */
    font-size: 16px; /* Increase font size for the button */
    margin-top: 20px; /* Add margin to the top */
}

.button:hover {
    background-color: var(--hover-sign-in-and-out); 
}

/* Error Message */
.errorMessage {
    color: red; /* Red text color */
    font-size: 14px; /* Small font size */
    margin-top: -10px; /* Add some negative margin to the top */
    margin-bottom: 10px; /* Add some margin to the bottom */
}

/* Link */
.link {
    margin-top: 20px; /* Add some margin to the top */
    color: #007bff; /* Blue text color */
    text-decoration: none; /* Remove underline */
    font-size: 14px; /* Font size */
}

.link:hover {
    text-decoration: underline; /* Underline on hover */
}
