.card {
    color: rgb(0, 0, 0);
    border: none;
    overflow: hidden;
    transition: transform 0.2s;
    margin: 10px; 
    text-decoration: none;
    width: auto;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-radius: 12px; 
    border: 1px solid #b3b3b3; 
    height: 150px;
}

.card-body {
    padding: 10px; 
}

.card-title {
    font-size: 1rem; 
    margin-bottom: 0.5rem; 
    line-height: 1.2; 
}

.card-text {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    line-height: 1.2;
}

.card-text:last-child {
    color: #aaa;
}

.video-time {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.75); 
    color: white;
    padding: 2px 5px;
    font-size: 0.75rem; 
    border-radius: 3px;
}
