/* Sidebar */
.list-group {
    border-radius: 0;
  }
  
  .list-group-item {
    border-radius: 0;
    border-width: 0;
    background-color: transparent;
    text-align: left;
  }
  
  .list-group-item:hover {
    border-radius: 0;
    border-width: 0;
    background-color: lightgray;
    cursor: pointer;
  }
  
  /* Video page */
  
  .thumbnail {
    width: 1100px;
    border-radius: 15px;
  }
  
  #description {
    background-color: lightgray;
    border-radius: 10px;
    padding-top: 10px;
    padding: 5px;
    text-align: left;
  }
  
  /* video title */
  #title {
    font-weight: bold;
    font-size: 25px;
    padding-top: 5px;
    text-align: left;
  }
  
  /* date and view count */
  #stats {
    font-weight: bold;
    text-align: left;
  }
  
  #searchBar {
    padding: 10px;
  }
  
  /* the bar for username and buttons */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 7px;
  }
  
  /* the left side of the bar for username and buttons */
  .userBar {
    min-width: calc(50% - 6px);
    flex: 1;
    flex-basis: 0.000000001px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Add some space between items */
  }
  
  .userBar img.img-thumbnail {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    object-fit: cover;
    margin-left: -10px;
  }
  
  #userName {
    margin: 0;
    font-weight: bold;
    color: black; /* Change text color to black */
    text-decoration: none; /* Remove underline */
  }
  
  .userBar-button {
    padding: 7px 14px;
    background-color: lightgray; /* Primary color */
    color: black; /* Text color */
    border: none; /* Remove default border */
    border-radius: 30px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth background color transition */
  }
  
  .userBar-button:hover {
    background-color: gray;
  }
  
  /* the right side of the bar for username and buttons-like,dislike,share etc */
  .actionBar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
 
/* Comment section */
  .commentSection {
    padding-top: 30px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
  }
