/* src/logged_in_header/loggedInHeader.module.css */
.loggedInHeader {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: right;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loggedInHeader span {
  margin-left: 10px;
}

.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.signOutButton {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signOutButton:hover {
  background-color: #0056b3;
}
