/* src/logged_in_header/LoggedInHeader.module.css */
.loggedInHeader {
  background-color: var(--background-color);
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust space between elements */
  padding: 0 20px; /* Add padding to the sides */
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 65px;
  width: auto;
}

.searchContainer {
  flex-grow: 1; /* Make the search container take available space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

.button {
  background-color: rgba(255, 255, 255, 0);
  color: #007bff;
  border: 1px solid #007bff;
  padding: 0.4rem 0.8rem;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
  text-decoration: none;
  margin-left: 5px;
}

.button:hover {
  background-color: #007bff;
  color: white;
}
